<table>
    <thead>
      <tr>
        <th>lid</th>
        <th>Name</th>
        <th>Tax Band</th>
        <th>Salary Scale</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let lecturer of lecturers">
        <td>{{ lecturer.lid }}</td>
        <td>{{ lecturer.name }}</td>
        <td>{{ lecturer.taxBand }}</td>
        <td>{{ lecturer.salaryScale }}</td>
        <td>
          <button (click)="updateLecturer(lecturer.lid)">Update</button>
        </td>
      </tr>
    </tbody>
  </table>
  